
@{
    Layout = null;
}
@model IEnumerable<ComponenteCarro>
<input type="hidden" name="accion" value="@ViewBag.Accion" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                {
                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("AgregarDetalles")">Agregar</button>
                }

            </th>
        </tr>

    </thead>
    <tbody>
        @{
            int index = -1;
        }
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                index++;
                // var hidde = "table";
                if (item.IdComponente > -1)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@item.IdComponente" name="ComponenteCarro[@index].IdComponente">
                            <input type="hidden" value="@item.IdAuto" name="ComponenteCarro[@index].IdAuto">
                            <input class="form-control" data-readonly type="text" name="ComponenteCarro[@index].Nombre" value="@item.Nombre">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="ComponenteCarro[@index].Descripcion" value="@item.Descripcion">
                        </td>
                        <td>
                            @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                            {
                                <button name="index" value="@index" class="btn btn-primary" type="submit" formaction="@Url.Action("EliminarDetalles")">Eliminar</button>
                            }

                        </td>
                    </tr>
                }
                else
                {
                    <tr style="display:none">
                        <td>
                            <input type="hidden" value="@item.IdComponente" name="ComponenteCarro[@index].IdComponente">
                            <input type="hidden" value="@item.IdAuto" name="ComponenteCarro[@index].IdAuto">
                            <input type="hidden" name="ComponenteCarro[@index].Nombre" value="@item.Nombre">
                            <input type="hidden" name="ComponeneCarros[@index].Descripcion" value="@item.Descripcion">
                        </td>
                    </tr>                   
                }
            }
        }

    </tbody>
</table>
@if (ViewBag.Accion == "Details" || ViewBag.Accion == "Delete")
{
    <script>       
        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly",true);
        }

    </script>
}